

a {
    color: #CAE19C;
    }
    
    
    h1 {
        font-family: 'Orbitron', sans-serif;
        font-size: 20pt;
    }
    
    h2 {
        font-family: 'Orbitron', sans-serif;
        font-size: 18pt;
    
    }
    
    h3 {
        font-family: 'Orbitron', sans-serif;
        font-size: 16pt;
    
    }
    
    body {
        font-family: 'Source Sans Pro', sans-serif;
       
    }
    
    .grey {
        background-color: #859698;
        margin-top: 30px;
    }
    
    .artevelde {
    
    size: 60px;
    }
    
    
    
    
    
    .navigatie{
        background-color: #88AFB2;
        margin-bottom: 45px;
        ;
    }
    
    .footer {
        background-color: #CAE19C;
        height: 400px ;
    }
    
    .nav-link{
        color: #ffff;
    }
    
    .navbar-toggler {
      
        color: #fff;
    }
    .pt-4{
        width: 100%;
        padding: 50px;
        margin-top: 150px;
    }
    
    .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .35rem .55rem;
        margin-right: 60px;
        margin-bottom: 15px;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    
    .btn2 {
        margin-top: 175px;
        float: right;
    }
    
    .btn-light {
        float: right;
    }
    
    .mood {
        padding-bottom: 50px;
    }
    
    .card-body {
    
    }
    
    @media (min-width: 576px) {
    .card-deck {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: 150px;
        margin-left: 150px;
    
        }
    }
    
    @media (min-width: 768px) {
        
        .navigatie{
            margin-bottom: 75px;
            ;
        }
        .footer {
            background-color: #CAE19C;
            height: 200px ;
        }
        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: 2rem;
            padding-left: 0.5rem;
        }
    
    .btn { 
    
    }
    }
    
    @media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 9rem;
    
        }
    }