

    h1 {
        font-family: 'Orbitron', sans-serif;
        font-size: 17pt;
    }
    
    h2 {
        font-family: 'Orbitron', sans-serif;
        font-size: 18pt;
    
    }
    
    h3 {
        font-family: 'Orbitron', sans-serif;
        font-size: 16pt;
    
    }

    a{
        color: #88AFB2;
    }
    
    body {
        font-family: 'Source Sans Pro', sans-serif;
       
    }
    
    .grey {
        background-color: #859698;
        margin-top: 30px;
    }

    .mood {
        padding-bottom: 50px;
    }

.logo {
    width: 150px;
    margin: 1em;
    
}

#u {
    margin-bottom: 20px;
    margin-right: 63px;
    margin-top: 50px;


}
#name {
    border-radius: 10px;
    width: 230px;

}

#firstname {
    border-radius: 10px;
    width: 230px;

}
#country {
    border-radius: 5px;
    width: 230px;
    float: right;
    background-color: #859698;
}


.input-xlarge {
    border-radius: 10px;
    width: 230px;
    float: right;
}

.input-small{
    border-radius: 10px;
    float: right;
    width: 75px;
}

.input-mini {
    border-radius: 10px;
    float: right;
}

.input-medium {
    border-radius: 10px;
    float: right;
    width: 75px;

}

.control-label {

} 

.control-group {

}


.asterik {
    color: red;
}

.jean {
margin-top: 60px;
    margin-bottom: 120px;
}


.nav-link{
    color: white;
}

.controls {
    float: right;
    margin-left: 15px;
}

.btn-warning {
    color: #212529;
    background-color: #ECF4B5;
    border: transparent;
    border-radius: 40px;
    display: inline-block;
    
}

.btn-warning:hover {
    background-color: rgb(189, 211, 147);
    border: transparent;

}


.btn2 {
    float: right;
    background-color: #88AFB2;

}

.btn2:hover {
    background-color: rgb(119, 156, 158);
        border: transparent;
}

.btn3 {
float: right;
margin-top: 30px;
}

#btn4 {
    margin-left: -5px;
}

.footer {
    background-color: #CAE19C;
    height: 280px ;
    margin-top: 5em;
  
}

.card-deck {

    margin-top: 50px;
}



.progress-bar {
    background-color: #CAE19C;
    color: #212529;
}

.info {
    padding-top: 2em;
}

.text-space {
word-spacing: 3em;
}

.navbar {
    margin-bottom: 3em;
    background-color: #88AFB2;
}

.navbar-expand-lg .navbar-nav .nav-link {
 
    color: white;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .35rem .55rem;
    margin-left: 25px;
    margin-right: 25px;

    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.artevelde {
    width: 50px;
float: right;
margin-top: -48px;
margin-right: 45px;

}

.icons {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 15px;
    float: left;
}

.tijdlijn {
width: 400px;
}

.dpd {
    width: 60px;
    margin-right: 30px;
    float: left;
    margin-left: -15px;
}

.post {
    width: 50px;
    margin-right: 40px;
    float: left;
    margin-left: -15px;
}

.check {
    float: right;
margin-top: 8px;
}


@media (min-width: 768px) {


    h1 {
        font-family: 'Orbitron', sans-serif;
        font-size: 20pt;
    }
    
    h2 {
        font-family: 'Orbitron', sans-serif;
        font-size: 18pt;
    
    }
    .logo {
        width: 200px;
        margin-right: 5em;
        margin-bottom: 40px;
    margin-top: 30px;
    margin-left: 30px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 4.5rem;
        padding-left: 4.5rem;
        color: white;
    }

    .navbar {
        margin-bottom: 5em;
    }
    .card-deck {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: 150px;
        margin-left: 150px;
    }
    .footer {
        background-color: #CAE19C;
        height: 150px ;
    }

    .info {
        padding-top: 0;
    }

    .bar {
        width: 600px;
        float: right;
    }
    .icons {
        margin-top: 35px;
        align-items: center;
        margin-left: 50px;
       
    }

    .logo2 {
        width: 250px;
        }

    .artevelde {
        float: right;
        margin-top: 20px;
width:  100px;  
 }

    .tijdlijn {
        width: 325px;
        float: right;
        margin-top: -50px;
        }

        #btn4 {
            margin-left: -20px;
        }

        .dpd {
            width: 60px;
            margin-right: 40px;
        }
        
        .check {
            float: right;
        margin-top: 7px;
        }

        .post {
            width: 50px;
            margin-right: 40px;
        }
        #u {
            margin-bottom: 20px;
            margin-right: 100px;
            margin-top: 50px;
        
        
        }
        .input-xlarge {
            border-radius: 10px;
            width: 250px;
            float: right;
        }
        
        .input-small{
            border-radius: 10px;
            float: right;
            width: 95px;
        }
        
        .input-mini {
            border-radius: 10px;
            float: right;
        }
        
        .input-medium {
            border-radius: 10px;
            float: right;
            width: 95px;
        
        }
        #name {
            border-radius: 10px;
            width: 250px;
        
        }
        
        #firstname {
            border-radius: 10px;
            width: 250px;
        
        }
        #country {
            border-radius: 10px;
            width: 250px;
            float: right;
        }
   
}

