

    h1 {
        font-family: 'Orbitron', sans-serif;
        font-size: 20pt;
    }
    
    h2 {
        font-family: 'Orbitron', sans-serif;
        font-size: 18pt;
    
    }
    
    h3 {
        font-family: 'Orbitron', sans-serif;
        font-size: 16pt;
    
    }

    a{
        color: #88AFB2;
    }
    
    body {
        font-family: 'Source Sans Pro', sans-serif;
       
    }
    
    .grey {
        background-color: #859698;
        margin-top: 30px;
    }

    .mood {
        padding-bottom: 50px;
    }

.logo {
    width: 150px;
}



.nav-link{
    color: white;
}


.btn-warning {
    color: #212529;
    background-color: #ECF4B5;
    border: transparent;
    border-radius: 40px;
    display: inline-block;
    
}

.btn-warning:hover {
    background-color: rgb(189, 211, 147);
    border: transparent;

}


.btn2 {
    float: right;
    background-color: #88AFB2;

}

.btn2:hover {
    background-color: rgb(119, 156, 158);
        border: transparent;
}


.footer {
    background-color: #CAE19C;
    height: 375px ;
    margin-top: 5em;
}

.progress-bar {
    background-color: #CAE19C;
    color: #212529;
}

.info {
    padding-top: 2em;
}

.text-space {
word-spacing: 3em;
}

.navbar {
    margin-bottom: 3em;
    background-color: #88AFB2;
}

.navbar-expand-lg .navbar-nav .nav-link {
 
    color: white;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .35rem .55rem;
    margin-left: 25px;
    margin-right: 25px;

    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


@media (min-width: 768px) {

    .logo {
        width: 200px;
        margin-right: 4em;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 4.5rem;
        padding-left: 4.5rem;
        color: white;
    }

    .navbar {
        margin-bottom: 5em;
    }
    .card-deck {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: 150px;
        margin-left: 150px;
    }
    .footer {
        background-color: #CAE19C;
        height: 200px ;
    }

    .info {
        padding-top: 0;
    }

   
}

